# dependencies
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npm
web_modules/

# misc
.DS_Store

# Logs
logs
*.log

# Testing
.coverage
*.lcov
.nyc_output
lib-cov

# Caches
*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# built files
bin
